.testimonial-bg {
  background: #EAEAEB;
}

.testimonialhero {
  max-width: 1292px;
  margin: 0 auto;
  padding: 61px 0 122px 0;
}

.testimonialhero-title-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}

.testimonialhero-title-buttons h2 {
  font-family: "Space Grotesk";
  font-size: 40px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 1.6px;
}

.testimonialhero-buttons {
  display: flex;
  align-items: center;
  gap: 60px;
}

.testimonialhero-buttons button {
  border: none;
  outline: none;
  background: #BBC6C9;
  padding: 8px;
}

.testimonials-slider {
  overflow: hidden;
  width: 1215px;
  margin: 0 auto;
}

.testimonials-slides {
  display: flex;
  gap: 105px;
  align-items: start;
  overflow: hidden;
  width: 3855px;
  }
  
.testimonial {
    width: 555px;
}

.testimonial-prevBtn, .testimonial-nextBtn {
  cursor: pointer;
}

@media only screen and (max-width: 1332px)  {
  .testimonialhero {
    padding: 61px 20px 122px 20px;
  }
}

@media only screen and (max-width: 1275px)  {
  .testimonials-slides {
    gap: 50px;
    width: 3250px;
    }
  .testimonials-slider {
    width: 1050px;
  }
  .testimonial {
    width: 500px;
}
}

@media only screen and (max-width: 1090px)  {
  .testimonials-slides {
    gap: 50px;
    width: 2650px;
    }
  .testimonials-slider {
    width: 850px;
  }
  .testimonial {
    width: 400px;
}
}

@media only screen and (max-width: 890px)  {
  .testimonials-slides {
    gap: 0px;
    width: 3600px;
    }
  .testimonials-slider {
    width: 600px;
  }
  .testimonial {
    width: 600px;
}
}

@media only screen and (max-width: 760px)  {
  .testimonialhero-title-buttons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .testimonialhero-title-buttons h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 600px)  {
  .testimonialhero-title-buttons h2 {
    font-size: 36px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 640px)  {
  .testimonials-slides {
    width: 2400px;
    }
  .testimonials-slider {
    width: 400px;
  }
  .testimonial {
    width: 400px;
}
}

@media only screen and (max-width: 440px)  {
  .testimonials-slides {
    width: 1680px;
    }
  .testimonials-slider {
    width: 280px;
  }
  .testimonial {
    width: 280px;
}
}

@media only screen and (max-width: 400px)  {
  .testimonialhero-title-buttons h2 {
    font-size: 30px;
    line-height: 40px;
  }
}