.steps-bg-container {
  position: relative;
  background-image: url('../Assets/bg-strips.png');
  background-position: center;
  background-repeat: repeat-y;
}

.steps {
  max-width: 1292px;
  margin: 0 auto;
  padding: 100px 0 65px 0;
}

.steps-main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.steps-left h2 {
  font-family: "Space Grotesk";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1.6px;
  margin-bottom: 30px;
}

.step-container {
  display: flex;
}

.step-number {
  background: #BBC6C9;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 28px;
}

.step-number p {
  font-family: "Space Grotesk";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
}

.step-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  margin-bottom: 22px;
}

.step-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.32px;
}

.steps-right {
  display: flex;
  flex-direction: column;
  gap: 87px;
  max-width: 600px;
  width: 100%;
}

@media only screen and (max-width: 1332px)  {
  .steps {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 1240px)  {
  .step-number {
    margin-right: 14px;
  }
  .step-name {
    margin-bottom: 10px;
  }
  .steps-right {
    gap: 60px;
    justify-content: end;
  }
}

@media only screen and (max-width: 1012px)  {
  .steps-left img {
    width: 400px;
  }
}

@media only screen and (max-width: 890px)  {
  .steps-main {
    flex-direction: column;
    gap: 60px;
  }
  .steps-left img {
    max-width: 530px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px)  {
  .steps-left h2 {
    font-size: 36px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 400px)  {
  .steps-left h2 {
    font-size: 30px;
    line-height: 40px;
  }
}