.searchbar {
  width: 1292px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #EAEAEB;
  background: #F6F6F7;
  padding: 34px 70px;
}

.searchbar-offer-container div,
.searchbar-market-container div div,
.searchbar-price-container div div,
.searchbar-surface-container div div {
  display: flex;
  align-items: center;
  gap: 22px;
  cursor: pointer;
}

.searchbar-offer-container,
.searchbar-market-container,
.searchbar-price-container,
.searchbar-surface-container {
  position: relative;
}

.searchbar-title {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.searchbar-offer-container p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.searchbar-seletor-title {
  color: rgba(9, 54, 66, 0.70);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.searchbar-location-container input {
  color: rgba(9, 54, 66, 0.70);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
}

.searchbar-location-container input::placeholder {
  color: rgba(9, 54, 66, 0.70);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.searchbar button {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  padding: 10px 22px;
  background: #093642;
  border: none;
  outline: none;
  cursor: pointer;
}




.searchbar ul {
  position: absolute;
  top: 120%;
  width: 120px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #F6F6F7;
  border: 1px solid #093642;
  padding: 6px 16px;
}

.searchbar ul li {
  list-style: none;
}

.searchbar ul li label {
  cursor: pointer;
}

.searchbar ul li input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.searchbar-price-container input,
.searchbar-surface-container input {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  width: 100%;
  padding: 4px 8px;
  background: transparent;
  outline: none;
  border: 1px solid #093642;
}

.searchbar input p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.searchbar-container {
  width: 1292px;
  margin: 0 auto;
}

.right {
  text-align: right;
}

.searchbar-price-container {
  width: 170px;
}

.searchbar-surface-container {
  width: 150px;
}