header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1292px;
  margin: 0 auto;
  padding-top: 16px;
}

.header-right {
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
  gap: 65px;
}

header li {
  list-style: none;
}

header li a {
  text-decoration: none;
}

header button {
  margin-left: 37px;
  text-transform: uppercase;
  padding: 10px 62px;
  border: 1px solid #093642;
  background: transparent;
  cursor: pointer;
}

.header-bg {
  background-image: url('../Assets/bg-strips.png');
  background-position: center;
  background-repeat: repeat-y;
}

.mobile-nav {
  position: relative;
  display: none;
}

.mobile-nav div {
  position: absolute;
  top: 120%;
  right: 0;
  display: flex;
  background: #093642;
  padding: 10px 20px;
  z-index: 100;
}

.mobile-nav a {
  color: #F6F6F7;
}


@media only screen and (max-width: 1332px)  {
  header {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 970px)  {
  header ul {
    gap: 40px;
  }
}

@media only screen and (max-width: 845px)  {
  header button {
    padding: 10px 30px;
  }
}

@media only screen and (max-width: 763px)  {
  header ul {
    gap: 20px;
  }
  header button {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 660px)  {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  header {
    padding-bottom: 16px;
  }
}

@media only screen and (max-width: 482px)  {
  .mobile-nav ul {
    flex-direction: column;
  }
  
}