.searchofferts {
  max-width: 1292px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.searchofferts-firstline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchofferts h2 {
  font-family: "Space Grotesk";
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 1.6px;
}

.searchofferts-resultcount {
  color: rgba(9, 54, 66, 0.80);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.56px;
  margin-bottom: 40px;
}

.searchpage-offerts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 20px;
  margin-right: -20px;
}

.searchofferts-sort-container {
  position: relative;
}

.searchofferts-sort-container div {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 6px 16px;
  border: 1px solid rgba(9, 54, 66, 0.70);
  cursor: pointer;
}

.searchofferts-sort-container div p {
  color: rgba(9, 54, 66, 0.70);
  font-weight: 300;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.searchofferts-sort-container ul {
  position: absolute;
  width: 120px;
  top: 110%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #F6F6F7;
  border: 1px solid #093642;
  padding: 6px 16px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.searchofferts-sort-container li {
  list-style: none;
}

.searchofferts-sort-container input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.searchofferts:checked {
  font-weight: bold;
}

.selected {
  font-weight: bold;
}

.searchofferts-sort-container label {
  cursor: pointer;
}

@media only screen and (max-width: 1332px)  {
  .searchofferts {
    margin: 0 20px;
  }
}