.offertdescription {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 73px;
}

.offertdescription p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.64px;
  margin-right: 270px;
}

.offertdescription-floorplan h4 {
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.72px;
  margin-left: 43px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 1332px)  {
  .offertdescription {
    padding: 73px 20px 0 20px;
  }
  .offertdescription p {
    margin-right: 100px;
  }
}

@media only screen and (max-width: 1022px)  {
  .offertdescription p {
    margin-right: 30px;
  }
  .offertdescription-floorplan img {
    width: 250px;
  }
}

@media only screen and (max-width: 630px)  {
  .offertdescription {
    flex-direction: column;
  }
  .offertdescription-floorplan {
    margin-top: 40px;
  }
  .offertdescription h4 {
    margin-left: 0;
  }
  .offertdescription p {
    margin-right: 0;
  }
}